@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

@layer components {
    .sidebar-icon {
        @apply relative flex flex-col items-center justify-center bg-gray-800 h-17 w-17 mt-2 mb-2 mx-auto
        hover:bg-green-600 hover:rounded-full transition-all duration-300 ease-linear cursor-pointer;
    }

    .content-pane{
        @apply relative top-30 left-25 flex-1 ml-10 bg-white shadow rounded-lg px-5 pt-5;
    }

    .content-title{
        @apply mx-5 font-bold text-gray-800 text-2xl my-5;
    }

    .personal-info-pane{
        @apply grid grid-cols-1 lg:grid-cols-[minmax(0,_15rem)_1fr] gap-4 my-5 mx-5 text-xl;
    }

    .button-in-use{
        @apply w-fit bg-blue-600 text-white py-2 rounded-xl hover:bg-blue-700 transition duration-200 p-10;
    }

    .button-edit{
        @apply relative w-fit top-1 h-fit right-3 bg-green-500 text-white py-1 rounded-xl hover:bg-green-700 transition duration-200 p-10;
    }

    .table-general {
        @apply bg-white border border-gray-200 rounded-lg my-5 text-lg px-2;
    }

    .tablehead-general {
        @apply bg-amber-100;
    }

    .tableheadentry-general {
        @apply px-4 py-2 text-left font-medium text-gray-700;
    }

    .tablerow-general {
        @apply relative w-full border-t border-gray-200 hover:bg-gray-50;
    }

    .tableentry-general {
        @apply px-4 py-2 text-gray-800;
    }

    .search-pane-element-field{
        @apply grid grid-cols-2 sm:grid-cols-[minmax(0,_15rem)_1fr] my-2 text-xl gap-2 items-center;
    }
    /*.search-pane-element-checkbox{
        @apply grid grid-cols-3 min-w-90 max-w-110 my-2 text-xl gap-2 items-center;
    }*/
    .search-pane-element-checkbox{
        @apply flex flex-row min-w-90 my-2 text-xl gap-2 items-center;
    }
    .search-pane-row{
        @apply flex flex-col xl:flex-row gap-4 w-full;
    }
    .search-pane-row-flexible{
        @apply flex flex-col lg:flex-row gap-4 max-w-150;
    }
}

.content-pane{
    width: calc(100vw - 12rem);
    min-width: 40rem;
    padding-bottom: 5rem;
    z-index: 0;
}

.content-label-identifier{
    font-weight: bold;
}

.leaflet-routing-container {
  display: none !important;
}